@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'outfit',sans-serif;
}
body{
  background: #000;
}
h1,h4,p,a{
  color: #fff;
  text-decoration: none;
}
ul{
  list-style-type: none;
}
.btn{
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgb(248,217,15);
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #fff;
  color: #000;
  border-radius: 6px;
}
.btn-light{
  background: transparent;
  color: #fff;
  transition: 0.3;
}
.btn:hover{
  color: #fff;
  transition: 0.3s;
  background: rgba(255,255,255,0);
}
.btn-light:hover{
  background: rgba(104, 107, 61, 0.514);  
}